@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
}

*,
*::before,
*::after {
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #4f566b;
  margin: 0;
}

p {
  line-height: 1.5em;
  margin: 1em 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

h1 {
  font-size: 40px;
  margin: 1.5em 0;
}

h2 {
  margin: 1.5em 0;
}

a {
  color: rgba(75, 85, 99, 1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  border: 1px solid #ddd;
}

th,
td {
  padding: 14px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
hr {
  border: 1px solid #e3e8ee;
  margin: 1em 0;
}

.custom-class-name-here {
  color: rgb(244, 109, 109);
}

.custom-class-name-here-here {
  color: rgb(4, 0, 0);
}

p em{
  color: #8792a2;
  font-size: 12px;
}

p strong em{
  color: #e56f4a;
  font-weight: normal;
  font-size: 10px;
}

.callOutCollaps{
  color: #000;
}




@layer base {
  body {
    @apply dark:bg-gray-800 bg-white
  }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply dark:text-white
    }

    p{
      @apply dark:text-silver
    }
  a{
      @apply dark:text-blue
    }

    th,
td {
 @apply dark:text-white font-normal
}

    th
 {
 @apply dark:text-white font-semibold
}

.callOutCollaps{
 @apply dark:!bg-[#1f2937]

}

.callOutCollaps p{
 @apply dark:text-white

}
.des_style{
 @apply dark:text-white

}
.sidenav{
  width: 250px;
}

.sidenav span{

 @apply dark:text-white


}
.sidenav ul li a{

 /* @apply dark:font-extrabold */
}

p strong em{
  @apply dark:text-[#e56f4a]
}
p  em{
  @apply dark:text-[#8792a2]
}
    
}